body {
  margin: 0;
}

.container {
  border: 6px solid black;
  display: flex;
  /* display: inline-flex; */

  /* flex-direction: row-reverse; */

  /* IMP for responsive design */
  /* flex-wrap: wrap; if an item is not fit in given length then it moves it to the next line */

  /* flex-flow: direction wrap ; */ /* This is an shorthand for direction + wrap */

  /* column-gap: 20px;
  row-gap: 20px; */

  /* gap: 20px 20px ; */ /* Shorthand row column */

  /* justify-content: space-evenly; */ /* align item in main axis  */

  /*align-items: center; */ /* align item in cross axis */

  /* default align-item:strach */ /* from top to end (Cross axis) */

  /* Baseline - its used to align items based on texts base line ( the line where all text sits)  */

  /* cross axis content */

  /* align content - aligns all of the rows just like justify but for all rows individually  */

  /* Order (default is 0 so if order is not assign then its 0) */

  /* 
    flex-grow: 0;
    
  Grow (deafult is also 0) we can use it just like 1fr in grid) */

  /*  flex-shring: 1
  
    shrink (default is 1) so nothing can shrink
    If we put flex-shring to 0 thenit wont be shrink
  */

  /* flex-basis: auto 
    
  Initialize an item with an width before grow

  it wont affect the growth 
  */


  /* flex: grow shrink basis;
    flex: 0 1 auto;
  */


  /* 
    align-self: auto; ->  default is value of parent (align-item) 
    align individual items
  */


}
.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: #b4bf35;
}
.item-2 {
  background-color: #b95f21;
}
.item-3 {
  background-color: #1c4c56;
}
.item-4 {
  background-color: #cfb276;
}
.item-5 {
  background-color: #6b0803;
}
.item-6 {
  background-color: #1c4c56;
}
.item-7 {
  background-color: #b95f21;
}
.item-8 {
  background-color: #901243;
}
.item-9 {
  background-color: #8bab37;
}
